.img-logo{
    width: 100px;
    height: 20px;
}
.menu{
 background: linear-gradient(100deg, transparent, #6D8B74,transparent);
}
nav  li a:hover{
    background-color: #6D8B74;
    transition: .1s;
}
nav{
    font-size: 20px;
}
.titulo{
    text-align: center;
}
